# Python
__pycache__/
*.py[cod]
*$py.class

# C++ Build Files
*.o
*.obj
*.so
*.exe
*.dll
*.out
*.a
*.lib
*.lo
*.la
*.class
*.swp

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
Debug/
Release/
*.dSYM/

# IDEs and Editors
.vscode/
*.code-workspace
.vs/
*.suo
*.user
*.userosscache
*.userprefs
*.sln
*.VC.db
*.VC.VC.opendb
*.ncb
*.opensdf
*.sdf
*.opendb
*.tlog
ipch/
*.idb
*.pdb

# Logs and Temporary Files
*.log
*.tmp
*.temp
*.swp
*.DS_Store

# Test Results
test-results/
*.gcda
*.gcno

# Miscellaneous
*.sqlite3
*.lock
*.bak
*.env
*.venv
.env/
.venv/
Pipfile.lock
poetry.lock
*.pytype/
.mypy_cache/
.pyre/
target/
